*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.container{
    padding: 0 10%;
    margin: auto;
    position: relative;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
nav{
    height: 80px;
    width: 100%;
}
nav .logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.navbar{
    margin: 0 25px;
    position: relative;
    left: 7%;
    transform: translateY(-50%);
}
.navbar li, .bottoni li{
    display: inline-block;
}
.elenchi-head a{
    height: 80px;
    padding: 0px 25px;
    text-decoration: none;
    color: white;
}
.bottoni{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    margin: 0 25px;
    color: white;
}
ul button{
    height: 40px;
    border-radius: 5px;
    color: white;
}
.login li{
    padding: 0 25px;
}
.bot1{
    border: 2px solid white;
    width: 120px;

}
.bot2{
    border: 2px solid black;
    width: 170px;
} 
/* .fotobanner{
    position: relative;
    bottom: 0;
    right: -100px;
    overflow: hidden;
}
.titolo{
    width: 50%;
    color: white;
    margin-top: 150px;
    vertical-align: middle;

} */









/* Utility classes */
.border{
    border: 1px solid black;
}
.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}
.h-500{
    height: 500px;
}
.w-100{
    width: 100px;
}
.w-200{
    width: 200px;
}
.w-300{
    width: 300px;
}
.w-400{
    width: 400px;
}
.w-500{
    width: 500px;
}
.b-black{
    background-color: black;
}
.b-blu{
    background-color: rgb(6, 26, 116);
}
.b-green{
    background-color: rgb(59, 180, 11);
}