*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.container{
    width: 1500px;
    margin: auto;
    position: relative;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
nav{
    height: 80px;
    width: 100%;
}
nav .logo{
    float: left;
    line-height: 80px;
    transform: translateY(13%);
}
.navbar{
    margin: 0 25px;
    float: left;
    line-height: 80px;

}
.navbar li, .bottoni li{
    display: inline-block;
}
.elenchi-head a{
    height: 80px;
    padding: 0px 25px;
    text-decoration: none;
    color: white;
}
.bottoni{
    line-height: 80px;
    float: right;
    color: white;
}
ul button{
    height: 40px;
    border-radius: 5px;
    color: white;
}
.login li{
    padding-left: 25px;
}
.bot1{
    border: 2px solid white;
    width: 120px;

}
.bot2{
    border: 2px solid black;
    width: 170px;
} 
.fotobanner{
    background-image: url(img/background-header.png);
    height: 750px;
    background-size: 60% 80%;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.left{
    width: 50%;
    padding: 200px 0;
}
.titolo{
    color: white;
    font-size: 2.5rem;
}
.titolo button{
    margin-top: 30px;
    padding: 25px;
    width: 250px;
    border-radius: 4px;
    color: white;
    border: 0px;
}
.central-text{
    text-align: center;
    padding: 50px;
}
.central-text p{
    color: grey;
    margin-top: 10px;
}
.row{
    width: 30%;
    float: left;
    text-align: center;
}
.central{
    margin: 0 5% 0 5%;
}
.row div{
    padding: 25px 0;
    height: 200px;
}
.row img{

    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.row h1{
    color:  rgb(59, 180, 11);
    padding: 25px 0;
    font-size: 2rem;
}
.row hr{
    width: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.row p{
    color: grey;
    padding: 25px 0;
}
.row50{
    width: 45%;
    float: left;
}
.spaziatura{
    padding-right: 10%;
}
.row50{
    margin: 35px 0;
}
.row50 h1{
    font-size: 3rem;
}
.row50 p{
    padding: 25px 0;
    color: grey;
}
.menu-finale h1, .menu-finale div, .selectors p{
    display: inline-block;
}
.selectors{
    float: right;
}
.menu-finale{
    padding: 80px 0;
}
.selectors button, .selectors p, .selectors select{
    margin-left: 25px;
    color: grey;
}
.selectors button{
    padding: 20px 10px;
    border: 0px;
    border-radius: 4px;
    color: white;
}
.selectors select{
    text-decoration: none;
    text-align: left;
    width: 100px;
    border: 0px;
}
.help{
    /* position: fixed; */
    padding: 10px 3px;
    border: 0px;
    border-radius: 4px;
    color: white;
    width: 80px;
}
.helpbox{
    position: fixed;
    bottom: 0;
    left: 1900px;
}



/* Utility classes */
.border{
    border: 1px solid black;
}
.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}
.h-500{
    height: 500px;
}
.w-100{
    width: 100px;
}
.w-200{
    width: 200px;
}
.w-300{
    width: 300px;
}
.w-400{
    width: 400px;
}
.w-500{
    width: 500px;
}
.b-black{
    background-color: black;
}
.b-blu{
    background-color: rgb(6, 26, 116);
}
.b-green{
    background-color: rgb(59, 180, 11);
}
.b-grey{
    background-color: lightgrey;
}